{{#if success_msg}}
<div class="container d-flex justify-content-center" id="updatedSuccess">
  <div class="mt-5">{{success_msg}}</div>
</div>
{{/if}}
{{#if error_msg}}
<div class="container d-flex justify-content-center" id="updatedSuccess">
  <div class="mt-5">{{error_msg}}</div>
</div>
{{/if}}