<head>
  <meta charset="utf-8">
  <title>restaurant-list</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/19499ea28b.js" crossorigin="anonymous"></script>
</head>

<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light d-flex">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
    </div>
  </nav>

  <div class="banner"></div>

</header>

<div>
  <h1>登入帳號</h1>
  {{> message}}
  <form action="/login" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">信箱</label>
      <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="請輸入信箱">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">密碼</label>
      <input type="password" class="form-control" name="password" placeholder="請輸入密碼">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div>
  <button>Facebook Login</button>
</div>
<div>
  <span>No account?</span> <a href="/register">Register</a>
</div>

<script src="/javascripts/bootstrap.bundle.min.js"></script>